Repository simonostendorf/k3s-hetzner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions

.github/labeler.yml:

documentation:
- docs/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- README.md
- mkdocs.yml
- requirements.txt
github_actions:
- .github/workflows/*
- .github/dependabot.yml
- .github/labeler.yml

Update release.yml
  .github/release.yml
Labels: none

improve docs (#49)
  docs/deployment/ccm.md
  docs/deployment/cert-manager.md
  docs/deployment/cluster-autoscaler.md
  docs/deployment/csi.md
  docs/deployment/hpa.md
  docs/deployment/metrics-server.md
  docs/deployment/traefik.md
  docs/deployment/upgrade-controller.md
  docs/installation/hetzner.md
Labels: none

add exception handling to nodeip script.
  scripts/setup-agent-nodes.py
Labels: none

reorder deployment folder
  docs/deployment/other/hpa.md
  docs/deployment/required/ccm.md
  docs/deployment/required/cert-manager.md
  docs/deployment/required/cluster-autoscaler.md
  docs/deployment/required/csi.md
  docs/deployment/required/metrics-server.md
  docs/deployment/required/traefik.md
  docs/deployment/required/upgrade-controller.md
  mkdocs.yml
Labels: documentation

fix typo
  docs/deployment/other/hpa.md
Labels: none

fix links for new folder order
  docs/deployment/required/ccm.md
  docs/deployment/required/cert-manager.md
  docs/deployment/required/cluster-autoscaler.md
  docs/deployment/required/csi.md
  docs/deployment/required/traefik.md
Labels: none

Add example nginx deployment
  docs/assets/deployment/other/nginx/example-deployment.yml
  docs/deployment/other/nginx.md
  mkdocs.yml
Labels: documentation

add CriticalAddonsOnly toleration
  docs/deployment/cluster-autoscaler.md
Labels: none

Update release.yml (#57)
  .github/release.yml
Labels: none

Create stale.yml (#54)
  .github/workflows/stale.yml
Labels: github_actions
