Repository simonostendorf/k3s-hetzner, pull requests merged in 2022-09, with the labels that each got.

#1 create doc and mkdocs
  .github/workflows/ci.yml
  LICENSE
  README.md
  deployments/ccm/deployment.yml
  deployments/ccm/secret.yml
  deployments/cert-manager/cloudflare-secret.yml
  deployments/cert-manager/crds.yml
  deployments/cert-manager/example-com-staging-tls.yml
  deployments/cert-manager/letsencrypt-production-issuer.yml
  deployments/cert-manager/letsencrypt-staging-issuer.yml
  deployments/cert-manager/traefik-example-com-tls.yml
  deployments/cert-manager/values.yml
  deployments/cluster-autoscaler/cloud-init.yml
  deployments/cluster-autoscaler/deployment.yml
  deployments/cluster-autoscaler/secret.yml
  deployments/csi/deployment.yml
  deployments/csi/secret.yml
  deployments/hpa/example-deployment-application.yml
  deployments/hpa/example-deployment-traffic.yml
  deployments/metrics-server/deployment.yml
  deployments/traefik/dashboard-ingressroute.yml
  deployments/traefik/dashboard-middleware.yml
  deployments/traefik/dashboard-secret.yml
  deployments/traefik/default-middleware.yml
  deployments/traefik/values.yml
  deployments/upgrade-controller/deployment.yml
  docs/assets/favicon.png
  docs/assets/logo.png
  docs/assets/prerequisites/cloudflare/create-account.png
  docs/assets/prerequisites/container-repository/create-account.png
  docs/assets/prerequisites/container-repository/create-token.png
  docs/assets/prerequisites/hetzner/create-api-tokens.png
  docs/assets/prerequisites/hetzner/create-project.png
  docs/deployment/ccm.md
  docs/deployment/cert-manager.md
  docs/deployment/cluster-autoscaler.md
  docs/deployment/csi.md
  docs/deployment/hpa.md
  docs/deployment/index.md
  docs/deployment/metrics-server.md
  docs/deployment/traefik.md
  docs/deployment/upgrade-controller.md
  docs/home/credits.md
  docs/home/index.md
  docs/home/todo.md
  docs/home/troubleshooting.md
  docs/installation/hetzner.md
  docs/installation/index.md
  docs/installation/k3s.md
  docs/installation/servers.md
  docs/prerequisites/container-repository.md
  docs/prerequisites/dns-provider.md
  docs/prerequisites/hetzner.md
  docs/prerequisites/index.md
  docs/prerequisites/local-machine.md
  mkdocs.yml
Labels: documentation, enhancement, breaking-change

#2 remove theme override
  mkdocs.yml
Labels: bug

#3 Update mkdocs.yml
  mkdocs.yml
Labels: bug, enhancement

#4 add index
  docs/index.md
  mkdocs.yml
Labels: bug, enhancement, breaking-change

#13 Create dependabot.yml
  .github/dependabot.yml
Labels: enhancement, dependencies

#10 Add basic release.yml
  .github/release.yml
Labels: documentation, enhancement

#11 Add requirements.txt and improve ci
  .github/workflows/ci.yml
  requirements.txt
Labels: enhancement, dependencies, github_actions

#23 Feat/improve readme
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation, enhancement
