Repository simonostendorf/k3s-hetzner, pull requests merged in 2022-10, with the labels that each got.

#25 change license to cc-by-4.0
  LICENSE
Labels: breaking-change

#26 rewrite docs
  README.md
  deployments/ccm/deployment.yml
  deployments/ccm/secret.yml
  deployments/cert-manager/cloudflare-secret.yml
  deployments/cert-manager/crds.yml
  deployments/cert-manager/example-com-staging-tls.yml
  deployments/cert-manager/letsencrypt-production-issuer.yml
  deployments/cert-manager/letsencrypt-staging-issuer.yml
  deployments/cert-manager/traefik-example-com-tls.yml
  deployments/cert-manager/values.yml
  deployments/cluster-autoscaler/cloud-init.yml
  deployments/cluster-autoscaler/deployment.yml
  deployments/cluster-autoscaler/secret.yml
  deployments/csi/deployment.yml
  deployments/csi/secret.yml
  deployments/hpa/example-deployment-application.yml
  deployments/hpa/example-deployment-traffic.yml
  deployments/metrics-server/deployment.yml
  deployments/traefik/dashboard-ingressroute.yml
  deployments/traefik/dashboard-middleware.yml
  deployments/traefik/dashboard-secret.yml
  deployments/traefik/default-middleware.yml
  deployments/traefik/values.yml
  deployments/upgrade-controller/deployment.yml
  docs/deployment/ccm.md
  docs/deployment/cert-manager.md
  docs/deployment/cluster-autoscaler.md
  docs/deployment/csi.md
  docs/deployment/hpa.md
  docs/deployment/index.md
  docs/deployment/metrics-server.md
  docs/deployment/traefik.md
  docs/deployment/upgrade-controller.md
  docs/home/credits.md
  docs/home/index.md
  docs/home/todo.md
  docs/home/troubleshooting.md
  docs/installation/hetzner.md
  docs/installation/index.md
  docs/installation/k3s.md
  docs/installation/servers.md
  docs/prerequisites/container-repository.md
  docs/prerequisites/dns-provider.md
  docs/prerequisites/hetzner.md
  docs/prerequisites/index.md
  docs/prerequisites/local-machine.md
  mkdocs.yml
Labels: documentation, enhancement

#27 Merge dev into main
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  deployments/ccm/deployment.yml
  deployments/ccm/secret.yml
  deployments/cert-manager/cloudflare-secret.yml
  deployments/cert-manager/crds.yml
  deployments/cert-manager/example-com-staging-tls.yml
  deployments/cert-manager/letsencrypt-production-issuer.yml
  deployments/cert-manager/letsencrypt-staging-issuer.yml
  deployments/cert-manager/traefik-example-com-tls.yml
  deployments/cert-manager/values.yml
  deployments/cluster-autoscaler/cloud-init.yml
  deployments/cluster-autoscaler/deployment.yml
  deployments/cluster-autoscaler/secret.yml
  deployments/csi/deployment.yml
  deployments/csi/secret.yml
  deployments/hpa/example-deployment-application.yml
  deployments/hpa/example-deployment-traffic.yml
  deployments/metrics-server/deployment.yml
  deployments/traefik/dashboard-ingressroute.yml
  deployments/traefik/dashboard-middleware.yml
  deployments/traefik/dashboard-secret.yml
  deployments/traefik/default-middleware.yml
  deployments/traefik/values.yml
  deployments/upgrade-controller/deployment.yml
  docs/deployment/ccm.md
  docs/deployment/cert-manager.md
  docs/deployment/cluster-autoscaler.md
  docs/deployment/csi.md
  docs/deployment/hpa.md
  docs/deployment/index.md
  docs/deployment/metrics-server.md
  docs/deployment/traefik.md
  docs/deployment/upgrade-controller.md
  docs/home/credits.md
  docs/home/index.md
  docs/home/todo.md
  docs/home/troubleshooting.md
  docs/installation/hetzner.md
  docs/installation/index.md
  docs/installation/k3s.md
  docs/installation/servers.md
  docs/prerequisites/container-repository.md
  docs/prerequisites/dns-provider.md
  docs/prerequisites/hetzner.md
  docs/prerequisites/index.md
  docs/prerequisites/local-machine.md
  mkdocs.yml
Labels: bug, documentation, enhancement, dependencies

#28 Fix/readme and script
  README.md
  docs/prerequisites/container-registry.md
  scripts/setup-agent-nodes.py
Labels: bug, documentation, enhancement

#29 Fix/readme and script (#28)
  README.md
  docs/prerequisites/container-registry.md
  scripts/setup-agent-nodes.py
Labels: bug, documentation, enhancement

#30 add static cname file
  static/CNAME
Labels: bug, enhancement, github_actions

#49 improve docs
  docs/deployment/ccm.md
  docs/deployment/cert-manager.md
  docs/deployment/cluster-autoscaler.md
  docs/deployment/csi.md
  docs/deployment/hpa.md
  docs/deployment/metrics-server.md
  docs/deployment/traefik.md
  docs/deployment/upgrade-controller.md
  docs/installation/hetzner.md
Labels: bug, documentation, enhancement

#57 Add dependencies section to release.yml
  .github/release.yml
Labels: enhancement

#54 Create stale.yml
  .github/workflows/stale.yml
Labels: enhancement, github_actions

#55 Add labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement, github_actions

#58 Add nodeip exceptions
  scripts/setup-agent-nodes.py
Labels: enhancement

#59 Add example nginx deployment
  docs/assets/deployment/other/nginx/example-deployment.yml
  docs/deployment/other/hpa.md
  docs/deployment/other/nginx.md
  docs/deployment/required/ccm.md
  docs/deployment/required/cert-manager.md
  docs/deployment/required/cluster-autoscaler.md
  docs/deployment/required/csi.md
  docs/deployment/required/metrics-server.md
  docs/deployment/required/traefik.md
  docs/deployment/required/upgrade-controller.md
  mkdocs.yml
Labels: bug, documentation, enhancement

#65 Fix docs path
  .github/labeler.yml
Labels: bug, github_actions

#64 add own metrics-server deployment
  docs/deployment/required/metrics-server.md
Labels: documentation, enhancement

#61 Rewrite autoscaler filechange
  docs/deployment/required/cluster-autoscaler.md
Labels: documentation, enhancement

#60 add CriticalAddonsOnly toleration
  docs/deployment/required/cluster-autoscaler.md
Labels: bug, documentation, enhancement

#68 optimize default ca parameters
  docs/deployment/required/cluster-autoscaler.md
Labels: documentation, enhancement

#81 Add self-destruction of agent after failed maximum trys
  scripts/setup-agent-nodes.py
Labels: enhancement

#83 Create pull_request_template.md
  .github/pull_request_template.md
Labels: enhancement

#86 add hetzner logo
  docs/assets/home/meets.png
  docs/home/index.md
Labels: documentation

#87 fix nginx deployments folder
  docs/deployment/other/nginx.md
Labels: bug, documentation

#89 add reminder that lb needs startup time
  docs/installation/k3s.md
Labels: documentation, enhancement

#92 add replacement command for le-prod-issuer
  docs/deployment/required/cert-manager.md
Labels: documentation, enhancement

#91 add loadbalancer annotation reminder
  docs/deployment/required/traefik.md
Labels: bug, documentation, enhancement

#90 fix typo in cluster-autoscaler
  docs/deployment/required/cluster-autoscaler.md
Labels: documentation

#88 remove unnecessary mkdirs inside cert-manager
  docs/deployment/required/cert-manager.md
Labels: documentation

#93 Release Version 1.2.0
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/stale.yml
  docs/assets/home/meets.png
  docs/deployment/other/nginx.md
  docs/deployment/required/cert-manager.md
  docs/deployment/required/cluster-autoscaler.md
  docs/deployment/required/traefik.md
  docs/home/index.md
  docs/installation/k3s.md
  scripts/setup-agent-nodes.py
Labels: bug, documentation, enhancement, dependencies, github_actions
